<% provide(:title, "Active Ballots") %>
<div class="center jumbotron">
  <h1><%= ENV["COMMITTEE"] %> Active Ballots</h1>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Project</th>
      <th>Short title</th>
      <th>Ballot</th>
      <th>Ballot close date</th>
    </tr>
    </thead>

    <tbody>
    <% @blt.each do |ballot| %>
      <tr>
        <td><%= link_to(ballot[:project].designation, project_path(ballot[:project])) %></td>
        <td><%= ballot[:project].short_title %></td>
        <td><%= link_to_unless(ballot[:event].url.nil?, ballot[:event].name, ballot[:event].url) %></td>
        <td><%= ballot[:event].end_date %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

