<%= simple_form_for(@meeting) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.input :meetingtype %>
    <%= f.input :location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-warning" %>
  </div>
<% end %>
