<%= simple_form_for(@meeting, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <%= f.error_notification %>

  <div class="modal-body">
    <%= f.input :date %>
    <%= f.input :meetingtype %>
    <%= f.input :location %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
