<tr>
	<td><%= meeting.date %></td>
	<td><%= meeting.meetingtype %></td>
	<td><%= make_meeting_name(meeting) %></td>
	<td><%= meeting.location %></td>
  <td><%= link_to 'Minutes', meeting.minutes_url, class: "btn btn-default" %></td>
	<td><%= link_to 'Show', meeting, class: "btn btn-default" %></td>
	<% if can? :update, meeting %>
		<td><%= link_to 'Edit', edit_meeting_path(meeting), class: "btn btn-warning", data: { modal: true } %></td>
	<% end %>
	<% if can? :destroy, meeting %>
		<td><%= link_to 'Destroy', meeting, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
</tr>
