<% provide(:title, "Meetings") %>
<h1><%= ENV["COMMITTEE"] + " Maintenance Meetings" %></h1>
<p id="notice"><%= notice %></p>


<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "date" %></th>
      <th><%= sortable "type" %></th>
      <th>Name</th>
      <th><%= sortable "location" %></th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <%= render meeting %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @meetings, renderer: BootstrapPagination::Rails %>

<br>

<% if can? :create, @meetings %>
  <%= link_to 'New Meeting', new_meeting_path, class: "btn btn-warning" %>
<% end %>
