<% provide(:title, make_meeting_name(@meeting)) %>
<p id="notice"><%= notice %></p>
<h1><%= make_meeting_name(@meeting) %> Meeting</h1>

<p>
  <strong>Location:</strong>
  <%= @meeting.location %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "number" %></th>
      <th><%= sortable "latest_status", "Status" %></th>
      <th><%= sortable "date", "Submitted" %></th>
      <th><%= sortable "standard" %></th>
      <th><%= sortable "clause" %></th>
      <th>Subject</th>
      <th><%= sortable "draft" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <%= render item %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @items, renderer: BootstrapPagination::Rails %>

<br/>
<%= link_to 'Edit', edit_meeting_path(@meeting), class: "btn btn-warning" %>
<%= link_to 'Back', meetings_path, class: "btn btn-default" %>
