<p id="notice"><%= notice %></p>

<h1>People</h1>
<div class="panel-group" id="accordian">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1">Role</div>
        <div class="col-md-1">First name</div>
        <div class="col-md-1">Last name</div>
        <div class="col-md-3">Email</div>
        <div class="col-md-2">Affiliation</div>
      </div>
    </div>
  </div>

  <% @people.each do |person| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-md-1">
            <a data-toggle="collapse" data-parent="#accordian" <%= raw 'href="#collapse' + "#{person.id}" + '"' %>><%= person.role %></a>
          </div>
          <div class="col-md-1"><%= person.first_name %></div>
          <div class="col-md-1"><%= person.last_name %></div>
          <div class="col-md-3"><%= person.email %></div>
          <div class="col-md-2"><%= person.affiliation %></div>
          <div class="col-md-1"><%= link_to 'Edit', sti_person_path(person.role, person, :edit),
                                            class: "btn btn-warning" if can? :update, person %></div>
          <div class="col-md-1"><%= link_to 'Destroy', sti_person_path(person.role, person), method: :delete,
                                            data: { confirm: 'Are you sure?' }, class: "btn btn-danger" if can? :destroy, person %></div>
        </div>
      </div>
    </div>
  <!-- This is where a table would go -->
  </div>
  <% end %>
</div>

<br>

<%= link_to "New #{@role}", sti_person_path(@role, nil, :new), class: "btn btn-primary" if can? :manage, Person %>
