<% provide(:title, "#{@person.role}: #{@person.first_name}") %>
<h1><%= @person.role %>: <%= @person.first_name %></h1>
<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <tbody>
  <tr><td><strong>First name:</strong></td><td><%= @person.first_name %></td></tr>
  <tr><td><strong>Last name:</strong></td><td><%= @person.last_name %></td></tr>
  <tr><td><strong>Email:</strong></td><td><%= @person.email %></td></tr>
  <tr><td><strong>Affiliation:</strong></td><td><%= @person.affiliation %></td></tr>
  </tbody>
</table>

<%= link_to 'Edit', sti_person_path(@person.role, @person, :edit) %> |
<%= link_to 'See all people', sti_person_path %>
