<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @person.affiliation %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role %>
</p>

<%= link_to 'Edit', sti_person_path(@person.role, @person, :edit) %> |
<%= link_to 'See all people', sti_person_path %>
