<% provide(:title, "Task Groups") %>
<h1><%= ENV["COMMITTEE"] + " Task Groups" %></h1>
<p id="notice"><%= notice %></p>


<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Chair</th>
    <th>Vice Chairs</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @task_groups.each do |task_group| %>
      <%= render task_group %>
  <% end %>
  </tbody>
</table>
<%= will_paginate @task_groups, renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'New Task Group', new_task_group_path, class: "btn btn-default", data: { modal: true } if can? :create, TaskGroup %>
