<% provide(:title, "#{@task_group.name} Task Group") %>
<h1>Projects for <%= @task_group.name %> Task Group</h1>
<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <tbody>
  <tr>
    <td><strong>Chair:</strong> <%= @task_group.chair && @task_group.chair.full_name %>
    <td><strong>Vice Chairs:</strong> <%= @task_group.vice_chairs.each {|vc| "#{vc.full_name}, "} %>
  </tr>
  </tbody>
</table>

<div class="panel-group" id="accordian">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1">Designation</div>
        <div class="col-md-1">Draft</div>
        <div class="col-md-3">Short title</div>
        <div class="col-md-2">Last motion</div>
        <div class="col-md-2">Status</div>
        <div class="col-md-2">Next action</div>
        <div class="col-md-1">Details</div>
      </div>
    </div>
  </div>

  <% @projects.each do |project| %>
      <%= render project, firstflag: false %>
  <% end %>
  <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
</div>

<br>

<%= link_to 'New Project', new_task_group_project_path(@task_group), class: "btn btn-primary", data: {modal: true} if can? :update, @task_group %>
<%= link_to 'Edit Task Group', edit_task_group_path(@task_group), class: "btn btn-warning", data: {modal: true} if can? :update, @task_group %>
