<!-- The array format used with form_for allows nested resources to be specified while leaving form_for
     to work out the path etc. from the request's action.
     See https://stackoverflow.com/questions/2034700/form-for-with-nested-resources -->
<%= simple_form_for([@task_group, @project, @event], remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
    <%= f.error_notification %>

    <div class="modal-body">
      <%#= f.input :project_type, collection: Project.projecttypes %>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.input :name %>
      <%= f.input :url, label: 'URL' %>
      <%= f.input :description %>
      <%#= f.input :draft_no, label: "Draft number" %>
    </div>

    <div class="modal-footer">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
<% end %>
