<%= simple_form_for(@import, :url => imports_path, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :replace, label: "Replace existing data? ", as: :fakebool, hint: "If selected, all data will first be destroyed!" %>
    <%= f.input :filename, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Import", class: "btn btn-warning", data: { confirm: "If you select 'Replace', all Maintenance data will first be destroyed!  This will take a while."} %>
  </div>
<% end %>
