<h1>Export modified file</h1>

<%= simple_form_for(@import, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <p><strong>Filename: </strong><%= @import.filename %></p>
  <div class="form-actions">
    <%= f.submit "Export", class: "btn btn-warning" %>
  </div>
<% end %>

<%= link_to 'Back', imports_path, class: "btn btn-default" %>
