<% provide(:title, "Imports") %>
<h1>Imported files</h1>
<p id="notice"><%= notice %></p>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Imported</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.filename %></td>
        <td><%= import.imported %></td>
        <% if can? :manage, import %>
            <td><%= link_to 'Destroy', import, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, @imports %>
  <%= link_to 'New Import', new_import_path, class: "btn btn-warning" %>
<% end %>
