<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @import.filename %>
</p>

<p>
  <strong>Imported:</strong>
  <%= @import.imported %>
</p>

<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
