<!-- The array format used with form_for allows nested resources to be specified while leaving form_for
     to work out the path etc. from the request's action.
     See https://stackoverflow.com/questions/2034700/form-for-with-nested-resources -->
<%= simple_form_for([@item, @request], remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <%= f.error_notification %>

  <div class="modal-body">
    <%= f.input :standard %>
    <%= f.input :clauseno, label: 'Clause number' %>
    <%= f.input :clausetitle, label: 'Clause title' %>
    <%= f.input :name, label: 'Submitter\'s name' %>
    <%= f.input :email, label: 'Email' %>
    <%= f.input :company, label: 'Affiliation' %>
    <%= f.input :rationale, label: 'Rationale for change' %>
    <%= f.input :proposal, label: 'Proposed text' %>
    <%= f.input :impact, label: 'Impact on existing networks' %>
    <%= f.input :date, label: 'Submittal date' %>

  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
