  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-md-1">
            <a data-toggle="collapse" data-parent="#accordian" <%= raw 'href="#collapse' + "#{project.id}" + '"' %>><%= project.designation %></a>
          </div>
          <div class="col-md-1"><%= project.draft_no %></div>
          <div class="col-md-3"><%= project.short_title %></div>
          <div class="col-md-2"><%= project.last_motion %></div>
          <div class="col-md-2"><%= project.status %></div>
          <div class="col-md-2"><%= project.next_action %></div>
          <div class="col-md-1"><%= link_to 'Show', [@task_group, project], class: "btn btn-default" %></div>
        </div>
      </div>
    </div>
    <div <%= raw 'id="collapse' + "#{project.id}" + '"' %>
         <% if local_assigns[:firstflag] %>
            class="panel-collapse collapse in"
         <% else %>
            class="panel-collapse collapse"
         <% end %>
         >
      <div class="panel-body">
        <%= render partial: "projects/progress", object: project %>
        <b>Long title: </b><%= project.title %>
        <div class="row">
          <div class="col-md-5"><b>Project Type:</b> <%= project.project_type %></div>
          <div class="col-md-2">PAR: <%= link_to_unless(project.par_url.nil?, 'PAR', project.par_url) %></div>
          <div class="col-md-2">CSD: <%= link_to_unless(project.csd_url.nil?, 'CSD', project.csd_url) %></div>
        </div>
      </div>
      <div class="panel-footer">
        <% if can? :update, project %>
            <td><%= link_to 'Edit Project', edit_task_group_project_path(@task_group, project), class: "btn btn-warning", data: {modal: true} %></td>
        <% end %>
        <% if can? :destroy, project %>
            <td><%= link_to 'Destroy Project', task_group_project_path(@task_group, project), class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </div>
      <table class="table table-hover">
       <thead>
          <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Description</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% project.events.order(:date).each do |event| %>
            <%= render event, project: project %>
          <% end %>
        </tbody>
      </table>
      <td><%= link_to 'Add Event', new_task_group_project_event_path(@task_group, project), class: "btn btn-default", data: {modal: true} %></td>
    </div>
  </div>


