<% provide(:title, "Projects for #{@task_group.name} Task Group") %>
<p id="notice"><%= notice %></p>
<h1>Projects for #{@task_group.name} Task Group</h1>

<table>
  <thead>
    <tr>
      <th>Designation</th>
      <th>Title</th>
      <th>Shorttitle</th>
      <th>Projecttype</th>
      <th>Status</th>
      <th>Lastmotion</th>
      <th>Draftno</th>
      <th>Nextaction</th>
      <th>Poolformed</th>
      <th>Mec</th>
      <th>Parurl</th>
      <th>Csdurl</th>
      <th>Parapproval</th>
      <th>Parexpiry</th>
      <th>Standardapproval</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.designation %></td>
        <td><%= project.title %></td>
        <td><%= project.short_title %></td>
        <td><%= project.project_type %></td>
        <td><%= project.status %></td>
        <td><%= project.last_motion %></td>
        <td><%= project.draft_no %></td>
        <td><%= project.next_action %></td>
        <td><%= project.pool_formed %></td>
        <td><%= project.mec %></td>
        <td><%= project.par_url %></td>
        <td><%= project.csd_url %></td>
        <td><%= project.par_approval %></td>
        <td><%= project.par_expiry %></td>
        <td><%= project.standard_approval %></td>
        <td><%= project.published %></td>
        <td><%= link_to 'Show', [@task_group, project], class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_task_group_project_path(@task_group, project), class: "btn btn-warning" if can? :update, project  %></td>
        <td><%= link_to 'Destroy', [@task_group, project], class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, project %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
