<% provide(:title, "#{@project.designation}") %>
<h1><%= @project.designation %>: <%= @project.short_title %></h1>
<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <tbody>
  <tr>
    <td><strong>Editor:</strong> <%= @project.editor && @project.editor.full_name %>
    <td><strong>Task Group:</strong> <%= @task_group.name %>
  </tr>
  </tbody>
</table>

<div id='timeline-embed' style="width: 100%; height: 500px"></div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-1">Designation</div>
      <div class="col-md-1">Draft</div>
      <div class="col-md-3">Short title</div>
      <div class="col-md-2">Last motion</div>
      <div class="col-md-2">Status</div>
      <div class="col-md-2">Next action</div>
    </div>
  </div>

</div>

<%= render @project, firstflag: true %>

<%= link_to 'Back', task_group_path(@task_group), class: "btn btn-default" %>
