      <tr>
        <td><%= minute.date %></td>
        <td><%= make_meeting_name(minute.meeting) %></td>
        <td><%= minute.text %></td>
        <td><%= minute.minst.name %></td>
        <td><%#= link_to 'Show', minute, class: "btn btn-default" %></td>
        <% if can? :update, minute %>
            <td><%= link_to 'Edit', edit_item_minute_path(@item, minute), class: "btn btn-warning", data: { modal: true } %></td>
        <% end %>
        <% if can? :destroy, minute %>
            <td><%= link_to 'Destroy', item_minute_path(@item, minute), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
