<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @minute.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @minute.text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @minute.minst.name %>
</p>

<%= link_to 'Edit', edit_item_minute_path(@item, @minute), class: "btn btn-warning", data: { modal: true } if can? :update, @minute %> |
<%= link_to 'Back', item_minutes_path(@item), class: "btn btn-default" %>
