<%= simple_form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :number %>
  <%= f.input :date %>
  <%= f.input :standard %>
  <%= f.input :clause %>
  <%= f.input :subject %>
  <%= f.input :draft %>
  <%= f.button :submit, class: "btn btn-warning" %>
  
<% end %>
