<% provide(:title, "Items") %>
<h1>Items</h1>
<p id="notice"><%= notice %></p>


<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "number" %></th>
      <th><%= sortable "latest_status", "Status" %></th>
      <th><%= sortable "date", "Submitted" %></th>
      <th><%= sortable "standard" %></th>
      <th><%= sortable "clause" %></th>
      <th>Subject</th>
      <th><%= sortable "draft" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <%= render item %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @items, renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'New Item', new_item_path, class: "btn btn-default" if can? :manage, Item %>
