<% provide(:title, "Item #{@item.number}") %>
<h1>Minutes for 
    <%= itemlink(@item.number)%>: <%= @item.subject%></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @item.date %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @item.standard %>
</p>

<p>
  <strong>Clause:</strong>
  <%= @item.clause %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @item.draft %>
</p>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Meeting</th>
      <th>Text</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minutes.each do |minute| %>
      <%= render minute %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @minutes, renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-warning" if can? :update, @item %>
<%= link_to 'Back', items_path, class: "btn btn-default" %>
